<div class="tab-pane fade" id="cat-profile" role="tabpanel" aria-labelledby="cat-profile-tab">
	<div class="d-flex flex-row flex-wrap justify-content-evenly align-items-center align-content-around">
		<div class="card" style="width: 18rem;">
			<img src="{{ asset("Photos_site/./bengal.jpg") }}" class="card-img-top" alt="cat">
			<div class="card-body">
				<p class="card-text">
					<ul>
						<li>Sacha</li>
						<li>2 ans</li>
						<li>Provin (77)</li>
						<li>Bengal</li>
						<li>Mâle</li>
						<li>Robe rousse et noire</li>
						<li>Yeux vert</li>
						<li>6kg</li>
						<li>35cm</li>
					</ul>
					<ul class="no-puce">
						<li>Coordonnées du propriétaire :</li>
						<li>Nom : Grind</li>
						<li>Prénom : Pascale</li>
						<li>Adresse : 4 rue du chemin</li>
						<li>77160 Provin</li>
						<li>Numéro : 0654xxxxxx</li>
						<li>Email : p.grind@pêche.fr</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="{{ asset("Photos_site/./maine_coon.jpg")}}" class="card-img-top" alt="cat">
			<div class="card-body">
				<p class="card-text">
					<ul>
						<li>Opale</li>
						<li>7 ans</li>
						<li>Carcassonne (11)</li>
						<li>Maine coon</li>
						<li>Femelle</li>
						<li>Robe Blanche</li>
						<li>Yeux marron</li>
						<li>6kg</li>
						<li>100cm</li>
					</ul>
					<ul class="no-puce">
						<li>Coordonnées du propriétaire :</li>
						<li>Nom : Duchemin</li>
						<li>Prénom : Eric</li>
						<li>Adresse : 70 hameau du chemin</li>
						<li>11570 Carcassonne</li>
						<li>Numéro : 0718xxxxxx</li>
						<li>Email : e.duchemin@fraise.fr</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="Photos_site/./siamois.jpg" class="card-img-top" alt="cat">
			<div class="card-body">
				<p class="card-text">
					<ul>
						<li>Pacha</li>
						<li>1 ans</li>
						<li>Trélissac (24)</li>
						<li>Siamois</li>
						<li>Mâle</li>
						<li>Robe Seal Point</li>
						<li>Yeux Bleu</li>
						<li>3kg</li>
						<li>30cm</li>
					</ul>
					<ul class="no-puce">
						<li>Coordonnées du propriétaire :
						</li>
						<li>Nom : Hardes
						</li>
						<li>Prénom : Valentin
						</li>
						<li>Adresse : 17 avenue blandeau
						</li>
						<li>24750 Trélissac
						</li>
						<li>Numéro : 0794xxxxxx
						</li>
						<li>Email :
							<a href="mailto:v.hardes@kiwi.fr">contacter</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="Photos_site/./bleu_russe.jpg" class="card-img-top" alt="cat">
			<div class="card-body">
				<p class="card-text">
					<ul>
						<li>Eros</li>
						<li>3 ans</li>
						<li>Brest (29)</li>
						<li>Bleu russe</li>
						<li>Mâle</li>
						<li>Robe Grise uniforme</li>
						<li>Yeux vert</li>
						<li>4kg</li>
						<li>30cm</li>
					</ul>
					<ul class="no-puce">
						<li>Coordonnées du propriétaire :</li>
						<li>Nom : Gamelle</li>
						<li>Prénom : Coline</li>
						<li>Adresse : 52 rue bodeau</li>
						<li>29200 Brest</li>
						<li>Numéro : 0718xxxxxx</li>
						<li>Email : c.gamelle@citron.fr</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="Photos_site/./sphinx.jpg" class="card-img-top" alt="cat">
			<div class="card-body">
				<p class="card-text">
					<ul>
						<li>Bastet</li>
						<li>6 ans</li>
						<li>Paris (75)</li>
						<li>Sphynx</li>
						<li>Femelle</li>
						<li>Robe Marron/Crême</li>
						<li>Yeux vert</li>
						<li>4kg</li>
						<li>30cm</li>
					</ul>
					<ul class="no-puce">
						<li>Coordonnées du propriétaire :</li>
						<li>Nom : Auto</li>
						<li>Prénom : Hannah</li>
						<li>Adresse : 8 boulvard kendy</li>
						<li>75013 Paris</li>
						<li>Numéro : 0645xxxxxx
						</li>
						<li>Email : h.auto@melon.fr</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<img src="Photos_site/./munchkin.jpg" class="card-img-top" alt="cat"/>
			<div class="card-body">
				<p class="card-text">
					<ul>
						<li>Charlie</li>
						<li>4 ans</li>
						<li>Strasbourg (67)</li>
						<li>Munchkin</li>
						<li>Mâle</li>
						<li>Robe Grise/Blanche</li>
						<li>Yeux jaune</li>
						<li>3kg</li>
						<li>23cm</li>

					</ul>
					<ul class="no-puce">
						<li>Coordonnées du propriétaire :</li>
						<li>Nom : Cruck
						</li>
						<li>Prénom : John</li>
						<li>Adresse : 10 avenue du caloux</li>
						<li>67000 Strasbourg</li>
						<li>Numéro : 0715xxxxxx</li>
						<li>Email : j.cruck@pomme.fr</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
