<div class="tab-pane fade show presentation" id="see-cat-profile" role="tabpanel" aria-labelledby="see-cat-profile-tab">
	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Age</th>
				<th scope="col">Race</th>
				<th scope="col">Poids</th>
				<th scope="col">Genre</th>
				<th scope="col">Robe</th>
				<th scope="col">Yeux</th>
				<th scope="col">Taille(cm)</th>
				<th scope="col">Photo</th>
				<th scope="col">Action</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Odin</th>
				<td>3</td>
				<td>Européen</td>
				<td>XXXXL</td>
				<td>Mâle</td>
				<td>Blanche</td>
				<td>Jaune</td>
				<td>70</td>
				<td><img class="picture-site" src="../../Photos_site/maine_coon.jpg" alt="Photo-chat"></td>
				<td>Modifier</td>
			</tr>
		</tbody>
	</table>
</div>
