<div class="tab-pane fade show presentation" id="content" role="tabpanel" aria-labelledby="content-tab">
	<table class="table table-light table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">Position</th>
				<th scope="col">titre</th>
				<th scope="col">contenu</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-active">
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2" class="table-active">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>

	<form class="form-site">
	<label for="edit">Modifier l'A propos</label>
		<textarea class="form-control" placeholder="A propos" id="edit"></textarea>
	</form>
</div>
