<div class="tab-pane fade show presentation" id="messaging" role="tabpanel" aria-labelledby="messaging-tab">
	<table class="table table-light table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Pseudo</th>
				<th scope="col">Email</th>
				<th scope="col">Motif/Question</th>
				<th scope="col">Message</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-active">
				<th scope="row">Parker</th>
				<td>Peter</td>
				<td>SpiderMan</td>
				<td>spiederman@toile.com</td>
				<td>Problème avec un particulier</td>
				<td>Bonjour, j'ai un soucis avec un particulier. Celui-ci est déagréable envers moi.</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>@fat</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2" class="table-active">Larry the Bird</td>
				<td>@twitter</td>
				<td>@twitter</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>
</div>
