<div class="tab-pane fade show presentation" id="about" role="tabpanel" aria-labelledby="about-tab">
	<div class="card about" style="width: 45rem;">
		<div class="card-body">
			<h5 class="card-title">Qui sommes-nous ?</h5>
			<p class="card-text about-us">Nous somme une entreprise spécialisé dans de la mise en relation de particulier à particulier pour l'accouplement de chat de race et de particulier à éleveur pour avoir des conseils et éventuellement pour l'achat d'un chat de race</p>
		</div>
	</div>
</div>
