<div class="tab-pane fade show presentation" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <form class="form-site" action="" method="post">
                <label for="lastname">Nom</label>
                <input class="form-control" name="lastname" id="lastname" placeholder="Dufour">
                <label for="firstname">Prénom</label>
                <input class="form-control" name="firstname" id="firstname" placeholder="Jean">
                <label for="nickname">Pseudo</label>
                <input class="form-control" name="nickname" id="nickname" placeholder="JeanD">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="jean-d@clemantine.fr">
                <label for="">Motif/Question</label>
                <select name="motive" id="" class="form-control">
                    <option value="ask">Problème avec un eleveur</option>
                    <option value="ask">Problème avec un particuler</option>
                    <option value="ask">Autre question</option>
                </select>
                <label for="message">Message</label>
                <textarea class="form-control" name="comment" id="message" cols="30" rows="5"
                    placeholder="Ecriver votre message ici"></textarea>
                <button type="submit" class="form-control btn-color ">Envoyer</button>
            </form>
        </div>