<div class="tab-pane fade show active presentation" id="home" role="tabpanel" aria-labelledby="home-tab">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{asset('./Photos_site/Aspyson.png')}}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{asset('./Photos_site/Bolmelle.png')}}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{asset('./Photos_site/Zoumoins.png')}}" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="card_presentation">
		<h5 class="card-header">Le chat</h5>
		<div class="card-body">
			<p class="card-text-home">
				Le chat est un mammifère carnivor qui apprartient à la famille des félidés (Felis silvetris
																																		                        catus) . Il a été domestiqué par l'homme il y a des milliers d'années pour protéger les cultures
																																		                        des souris et autre rongeurs mais il conserve tout de même son caractère sauvage beaucoup plus
																																		                        qu'un chien. On retrouve le chat domestique dans le monde entier. Il trouve facilement sa place
																																		                        dans les maisons et appartements. Le chat domestique a une durée de vie de 12 à 18 ans.
																																		                        Le chat a certains sens qui sont très développés, par rapport à ceux de l'homme. Son ouïe est au
																																		                        moins deux fois plus performante que celle de l'homme, il voit beaucoup mieux dans la nuit, et
																																		                        son odorat est 50 à 70 fois mieux développé.
			</p>
		</div>
	</div>
	<div class="card_presentation">
		<h5 class="card-header">La race</h5>
		<div class="card-body">
			<p class="card-text-home">
				Aujourd'hui, toutes variétés confondues, il existe une soixantaine de races aux morphologies
																																		                        variées qui s'offrent aux amoureux des chats. Au delà de l'esthétique même, les éleveurs ont
																																		                        également sélectionné des types comportementaux propres à chaque race. Paisible, sentimental ou
																																		                        démonstratif, à chacun de trouver le chat qui lui convient !
			</p>
		</div>
	</div>
	<div class="card_presentation">
		<h5 class="card-header">L'élevage</h5>
		<div class="card-body">
			<p class="card-text-home">
				Etre éleveur, c'est d'abord une passion mais c'est aussi une responsabilité. La première portée
																																		                        est souvent le résultat d'un concours de circonstances, d'un coup de cœur. La magie opère, on a
																																		                        envie de continuer dans cette voie : on devient officiellement éleveur...<br>
				Même si l'activité d'élevage félin est très souvent effectuée à petite échelle et dans le cadre
																																		                        familial, elle est aussi encadrée du point de vue législatif avec un statut clairement défini
																																		                        par la loi du 6 janvier 1999, modifiée par l'ordonnance du 7 octobre 2015 relative au commerce
																																		                        et à la protection des animaux de compagnie et son décret d'application du 7 juin 2016. Ainsi, à
																																		                        partir du 1er janvier 2016, la définition de l'éleveur repose sur la phrase :
																																		                        « On entend par élevage de chiens ou de chats l'activité consistant à détenir au moins une
																																		                        femelle reproductrice dont au moins un chien ou un chat est cédé à titre onéreux. »
			</p>
		</div>
	</div>
	<div class="card_presentation">
		<h5 class="card-header">Le LOOF</h5>
		<div class="card-body">
			<p class="card-text-home">
				La fédération pour la gestion du Livre Officiel des Origines Félines, plus communément connue
																																		                        sous le nom de LOOF, s'est vu confier la gestion du livre d'origine de l'espèce féline en France
																																		                        depuis 1996. Son agrément par le Ministère de l'Agriculture par arrêté du 4 novembre 1996 a été
																																		                        confirmé par le décret n° 2006-991 et l'arrêté du 1er août 2006.
				<br>
				La première mission du LOOF est la tenue du Livre Généalogique, c'est-à-dire l'émission des
																																		                        pedigrees des chats de race en France. Sans pedigree LOOF, un chat né en France, même issu de
																																		                        parents ayant un pedigree, ne peut pas prétendre à l'appellation « chat de race », mais
																																		                        uniquement, le cas échéant, à l'appellation « chat d'apparence ». (Décret n° 2008-871 du 28 août
																																		                        2008).
			</p>
		</div>
	</div>
</div>
